/* definindo medidas */
* {
    margin: 0;
    padding: 0;
}

/* Mudando a fonte de tudo */
body {
    font-family: "Mulish", sans-serif;
}

/* Mudando a sidebar */
#sidebar.sidebar-move {
    width: 200px;
}

#sidebar-toggle.toggle-move {
    right: -10px;
    transform: rotate(180deg);
}

/* Mostrando o nome quando a sidebar estiver aberta */
#user-name.show-name {
    display: block;
}