#atck{
    background-image: url('/blog/public/images/fixed/manylives.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 70%;
}

.cards-post{
    background-image: url(../images/perfilGato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}